# Task1

## Importing libraries

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt 
import warnings
warnings.filterwarnings('ignore')

In [2]:
import matplotlib
np.__version__, pd.__version__, sns.__version__, matplotlib.__version__

('1.26.4', '2.2.3', '0.13.2', '3.10.0')

## 1. Load data

In [3]:
df = pd.read_csv('data/Cars.csv')

In [4]:
# print the first rows of data
df.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.4 kmpl,1248 CC,74 bhp,190Nm@ 2000rpm,5.0
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14 kmpl,1498 CC,103.52 bhp,250Nm@ 1500-2500rpm,5.0
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.7 kmpl,1497 CC,78 bhp,"12.7@ 2,700(kgm@ rpm)",5.0
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.0 kmpl,1396 CC,90 bhp,22.4 kgm at 1750-2750rpm,5.0
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.1 kmpl,1298 CC,88.2 bhp,"11.5@ 4,500(kgm@ rpm)",5.0

In [5]:
# Check the shape of your data
df.shape

(8128, 13)

In [6]:
# Statistical info Hint: look up .describe()
df.describe()

              year  selling_price     km_driven        seats
count  8128.000000   8.128000e+03  8.128000e+03  7907.000000
mean   2013.804011   6.382718e+05  6.981951e+04     5.416719
std       4.044249   8.062534e+05  5.655055e+04     0.959588
min    1983.000000   2.999900e+04  1.000000e+00     2.000000
25%    2011.000000   2.549990e+05  3.500000e+04     5.000000
50%    2015.000000   4.500000e+05  6.000000e+04     5.000000
75%    2017.000000   6.750000e+05  9.800000e+04     5.000000
max    2020.000000   1.000000e+07  2.360457e+06    14.000000

In [7]:
# Check Dtypes of your input data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8128 entries, 0 to 8127
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           8128 non-null   object
 1   year           8128 non-null   int64
 2   selling_price  8128 non-null   int64
 3   km_driven      8128 non-null   int64
 4   fuel           8128 non-null   object
 5   seller_type    8128 non-null   object
 6   transmission   8128 non-null   object
 7   owner          8128 non-null   object
 8   mileage        7907 non-null   object
 9   engine         7907 non-null   object
 10  max_power      7913 non-null   object
 11  torque         7906 non-null   object
 12  seats          7907 non-null   float64
dtypes: float64(1), int64(3), object(9)
memory usage: 825.6+ KB

In [8]:
# Check the column names
df.columns

Index(['name', 'year', 'selling_price', 'km_driven', 'fuel', 'seller_type',
       'transmission', 'owner', 'mileage', 'engine', 'max_power', 'torque',
       'seats'],
      dtype='object')

## 2. Exploratory Data Analysis

EDA is an essential step to inspect the data, so to better understand nature of the given data.

### column: owner

In [9]:
df.columns

Index(['name', 'year', 'selling_price', 'km_driven', 'fuel', 'seller_type',
       'transmission', 'owner', 'mileage', 'engine', 'max_power', 'torque',
       'seats'],
      dtype='object')

In [10]:
# Define a custom mapping
mapping = {
    "First Owner": 1,
    "Second Owner": 2,
    "Third Owner": 3,
    "Fourth & Above Owner": 4,
    "Test Drive Car": 5
}

# Apply the mapping
df["owner"] = df["owner"].map(mapping)

# Check the results
print(df["owner"].unique())  # Output: [1, 2, 3, 4, 5]

[1 2 3 4 5]

In [21]:
df

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,1,23.4 kmpl,1248 CC,74 bhp,190Nm@ 2000rpm,5.0
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,2,21.14 kmpl,1498 CC,103.52 bhp,250Nm@ 1500-2500rpm,5.0
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,3,17.7 kmpl,1497 CC,78 bhp,"12.7@ 2,700(kgm@ rpm)",5.0
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Individual,Manual,1,23.0 kmpl,1396 CC,90 bhp,22.4 kgm at 1750-2750rpm,5.0
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Individual,Manual,1,16.1 kmpl,1298 CC,88.2 bhp,"11.5@ 4,500(kgm@ rpm)",5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8123,Hyundai i20 Magna,2013,320000,110000,Petrol,Individual,Manual,1,18.5 kmpl,1197 CC,82.85 bhp,113.7Nm@ 4000rpm,5.0
8124,Hyundai Verna CRDi SX,2007,135000,119000,Diesel,Individual,Manual,4,16.8 kmpl,1493 CC,110 bhp,"24@ 1,900-2,750(kgm@ rpm)",5.0
8125,Maruti Swift Dzire ZDi,2009,382000,120000,Diesel,Individual,Manual,1,19.3 kmpl,1248 CC,73.9 bhp,190Nm@ 2000rpm,5.0
8126,Tata Indigo CR4,2013,290000,25000,Diesel,Individual,Manual,1,23.57 kmpl,1396 CC,70 bhp,140Nm@ 1800-3000rpm,5.0
8127,Tata Indigo CR4,2013,290000,25000,Diesel,Individual,Manual,1,23.57 kmpl,1396 CC,70 bhp,140Nm@ 1800-3000rpm,5.0

### cloumn: fuel

In [22]:
df['fuel'].unique()

array(['Diesel', 'Petrol', 'LPG', 'CNG'], dtype=object)

In [75]:
df['fuel']

0       Diesel
1       Diesel
2       Petrol
3       Diesel
4       Petrol
         ...
8123    Petrol
8124    Diesel
8125    Diesel
8126    Diesel
8127    Diesel
Name: fuel, Length: 8033, dtype: object

In [26]:
df = df.drop(df[df['fuel'] == 'LPG'].index)

In [28]:
df = df.drop(df[df['fuel'] == 'CNG'].index)

In [33]:
df.isnull().sum()

name               0
year               0
selling_price      0
km_driven          0
fuel               0
seller_type        0
transmission       0
owner              0
mileage          214
engine           214
max_power        208
torque           214
seats            214
dtype: int64

### column: mileage

In [41]:
df['mileage']

0        23.4 kmpl
1       21.14 kmpl
2        17.7 kmpl
3        23.0 kmpl
4        16.1 kmpl
           ...
8123     18.5 kmpl
8124     16.8 kmpl
8125     19.3 kmpl
8126    23.57 kmpl
8127    23.57 kmpl
Name: mileage, Length: 8033, dtype: object

In [ ]:
split_mileage = df['mileage'].str.split(' ', expand=True)

df['value'] = split_mileage[0]
df['unit'] = split_mileage[1]

In [48]:
df = df.drop('unit', axis='columns')

In [50]:
df = df.drop('mileage', axis='columns')

In [52]:
df = df.rename(columns={'value':'mileage'})

In [59]:
df['mileage'] = df['mileage'].astype(float)

In [60]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8033 entries, 0 to 8127
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           8033 non-null   object
 1   year           8033 non-null   int64
 2   selling_price  8033 non-null   int64
 3   km_driven      8033 non-null   int64
 4   fuel           8033 non-null   object
 5   seller_type    8033 non-null   object
 6   transmission   8033 non-null   object
 7   owner          8033 non-null   int64
 8   engine         7819 non-null   object
 9   max_power      7825 non-null   object
 10  torque         7819 non-null   object
 11  seats          7819 non-null   float64
 12  mileage        7819 non-null   float64
dtypes: float64(2), int64(4), object(7)
memory usage: 878.6+ KB

### column: engine

In [ ]:
split_engine = df['engine'].str.split(' ', expand=True)

df['value'] = split_engine[0]
df['unit'] = split_engine[1]

df = df.drop({'unit','engine'}, axis='columns')

In [66]:
df

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,max_power,torque,seats,mileage,value
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,1,74 bhp,190Nm@ 2000rpm,5.0,23.40,1248
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,2,103.52 bhp,250Nm@ 1500-2500rpm,5.0,21.14,1498
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,3,78 bhp,"12.7@ 2,700(kgm@ rpm)",5.0,17.70,1497
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Individual,Manual,1,90 bhp,22.4 kgm at 1750-2750rpm,5.0,23.00,1396
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Individual,Manual,1,88.2 bhp,"11.5@ 4,500(kgm@ rpm)",5.0,16.10,1298
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8123,Hyundai i20 Magna,2013,320000,110000,Petrol,Individual,Manual,1,82.85 bhp,113.7Nm@ 4000rpm,5.0,18.50,1197
8124,Hyundai Verna CRDi SX,2007,135000,119000,Diesel,Individual,Manual,4,110 bhp,"24@ 1,900-2,750(kgm@ rpm)",5.0,16.80,1493
8125,Maruti Swift Dzire ZDi,2009,382000,120000,Diesel,Individual,Manual,1,73.9 bhp,190Nm@ 2000rpm,5.0,19.30,1248
8126,Tata Indigo CR4,2013,290000,25000,Diesel,Individual,Manual,1,70 bhp,140Nm@ 1800-3000rpm,5.0,23.57,1396
8127,Tata Indigo CR4,2013,290000,25000,Diesel,Individual,Manual,1,70 bhp,140Nm@ 1800-3000rpm,5.0,23.57,1396

In [68]:
df = df.rename(columns={'value':'engine'})

In [69]:
df['engine'] = df['engine'].astype(float)

In [70]:
df

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,max_power,torque,seats,mileage,engine
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,1,74 bhp,190Nm@ 2000rpm,5.0,23.40,1248.0
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,2,103.52 bhp,250Nm@ 1500-2500rpm,5.0,21.14,1498.0
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,3,78 bhp,"12.7@ 2,700(kgm@ rpm)",5.0,17.70,1497.0
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Individual,Manual,1,90 bhp,22.4 kgm at 1750-2750rpm,5.0,23.00,1396.0
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Individual,Manual,1,88.2 bhp,"11.5@ 4,500(kgm@ rpm)",5.0,16.10,1298.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8123,Hyundai i20 Magna,2013,320000,110000,Petrol,Individual,Manual,1,82.85 bhp,113.7Nm@ 4000rpm,5.0,18.50,1197.0
8124,Hyundai Verna CRDi SX,2007,135000,119000,Diesel,Individual,Manual,4,110 bhp,"24@ 1,900-2,750(kgm@ rpm)",5.0,16.80,1493.0
8125,Maruti Swift Dzire ZDi,2009,382000,120000,Diesel,Individual,Manual,1,73.9 bhp,190Nm@ 2000rpm,5.0,19.30,1248.0
8126,Tata Indigo CR4,2013,290000,25000,Diesel,Individual,Manual,1,70 bhp,140Nm@ 1800-3000rpm,5.0,23.57,1396.0
8127,Tata Indigo CR4,2013,290000,25000,Diesel,Individual,Manual,1,70 bhp,140Nm@ 1800-3000rpm,5.0,23.57,1396.0

### column: max_power

In [76]:
split_max_power = df['max_power'].str.split(' ', expand=True)

df['value'] = split_max_power[0]
df['unit'] = split_max_power[1]

df = df.drop({'unit','max_power'}, axis='columns')

In [77]:
df = df.rename(columns={'value':'max_power'})

In [78]:
df['max_power'] = df['max_power'].astype(float)

In [79]:
df

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,torque,seats,mileage,engine,max_power
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,1,190Nm@ 2000rpm,5.0,23.40,1248.0,74.00
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,2,250Nm@ 1500-2500rpm,5.0,21.14,1498.0,103.52
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,3,"12.7@ 2,700(kgm@ rpm)",5.0,17.70,1497.0,78.00
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Individual,Manual,1,22.4 kgm at 1750-2750rpm,5.0,23.00,1396.0,90.00
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Individual,Manual,1,"11.5@ 4,500(kgm@ rpm)",5.0,16.10,1298.0,88.20
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8123,Hyundai i20 Magna,2013,320000,110000,Petrol,Individual,Manual,1,113.7Nm@ 4000rpm,5.0,18.50,1197.0,82.85
8124,Hyundai Verna CRDi SX,2007,135000,119000,Diesel,Individual,Manual,4,"24@ 1,900-2,750(kgm@ rpm)",5.0,16.80,1493.0,110.00
8125,Maruti Swift Dzire ZDi,2009,382000,120000,Diesel,Individual,Manual,1,190Nm@ 2000rpm,5.0,19.30,1248.0,73.90
8126,Tata Indigo CR4,2013,290000,25000,Diesel,Individual,Manual,1,140Nm@ 1800-3000rpm,5.0,23.57,1396.0,70.00
8127,Tata Indigo CR4,2013,290000,25000,Diesel,Individual,Manual,1,140Nm@ 1800-3000rpm,5.0,23.57,1396.0,70.00

### 2.1 Univariate analyis

Single variable exploratory data anlaysis

#### Countplot

In [ ]:
# Let's see how many developing and developed countries there are
sns.countplot(data = df, x = 'status')

#### Distribution plot

In [ ]:
sns.displot(data = df, x = 'life-exp')

### 2.2 Multivariate analysis

Multiple variable exploratory data analysis

#### Boxplot

In [ ]:
# Let's try bar plot on "Status"
sns.boxplot(x = df["status"], y = df["life-exp"]);
plt.ylabel("Life Expectancy")
plt.xlabel("Status")

#### Scatterplot

In [ ]:
sns.scatterplot(x = df['income'], y = df['life-exp'], hue=df['status'])

#### Correlation Matrix

Let's use correlation matrix to find strong factors predicting the life expectancy.  It's also for checking whether certain features are too correlated.

In [16]:
df = df.drop('country', axis='columns')

#### Tips: Label encoding

Now we would like to change "Developing" and "Developed" to "0" and "1", since machine learning algorithms do not understand text.   Also, correlation matrix and other similar computational tools require label encoding.

In [ ]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
df["status"] = le.fit_transform(df["status"])

df["status"].unique()

In [ ]:
# we can call le.classes_ to know what it maps to
le.classes_

In [ ]:
# then we can try transform
le.transform(["Developed", "Developing"])

In [ ]:
# Let's check out heatmap
plt.figure(figsize = (15,8))
sns.heatmap(df.corr(), annot=True, cmap="coolwarm")  #don't forget these are not all variables! categorical is not here...

## 3. Feature Engineering

We gonna skip for this tutorial.  But we can certainly try to combine some columsn to create new features.

## 4. Feature selection

In [21]:
#x is our strong features
X = df[        ['income', 'adult-mort']        ]

#y is simply the life expectancy col
y = df["life-exp"]

### Train test split

In [22]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 42)

## 5. Preprocessing

### Null values

In [ ]:
#check for null values
X_train[['income', 'adult-mort']].isna().sum()

In [ ]:
X_test[['income', 'adult-mort']].isna().sum()

In [ ]:
y_train.isna().sum()

In [ ]:
y_test.isna().sum()

In [ ]:
sns.displot(data=df, x='income')

In [ ]:
sns.displot(data=df, x='adult-mort')

In [ ]:
sns.displot(y_train)

In [30]:
#let's fill the training set first!
# X_train['school'].fillna(X_train['school'].mean(), inplace=True)
X_train['income'].fillna(X_train['income'].median(), inplace=True)
X_train['adult-mort'].fillna(X_train['adult-mort'].median(), inplace=True)

In [31]:
#let's fill the testing set with the training distribution first!
# X_test['school'].fillna(X_train['school'].mean(), inplace=True)
X_test['income'].fillna(X_train['income'].median(), inplace=True)
X_test['adult-mort'].fillna(X_train['adult-mort'].median(), inplace=True)

In [32]:
#for missing y,  you don't replace them, you just delete them.
#don't forget to delete the associated x values as well
y_train_rows_with_na = y_train.isna()
y_train = y_train[~y_train_rows_with_na]
X_train = X_train[~y_train_rows_with_na]

y_test_rows_with_na = y_test.isna()
X_test = X_test[~y_test_rows_with_na]
y_test = y_test[~y_test_rows_with_na]

In [ ]:
#check again
X_train[['income', 'adult-mort']].isna().sum()

In [ ]:
X_test[['income', 'adult-mort']].isna().sum()

In [ ]:
y_train.isna().sum(), y_test.isna().sum()

### Checking Outliers

In [ ]:
# Create a dictionary of columns.
col_dict = {'adult-mort':1,'income':2}

# Detect outliers in each variable using box plots.
plt.figure(figsize=(20,30))

for variable,i in col_dict.items():
                     plt.subplot(5,4,i)
                     plt.boxplot(X_train[variable])
                     plt.title(variable)

plt.show()

In [37]:
def outlier_count(col, data = X_train):
    
    # calculate your 25% quatile and 75% quatile
    q75, q25 = np.percentile(data[col], [75, 25])
    
    # calculate your inter quatile
    iqr = q75 - q25
    
    # min_val and max_val
    min_val = q25 - (iqr*1.5)
    max_val = q75 + (iqr*1.5)
    
    # count number of outliers, which are the data that are less than min_val or more than max_val calculated above
    outlier_count = len(np.where((data[col] > max_val) | (data[col] < min_val))[0])
    
    # calculate the percentage of the outliers
    outlier_percent = round(outlier_count/len(data[col])*100, 2)
    
    if(outlier_count > 0):
        print("\n"+15*'-' + col + 15*'-'+"\n")
        print('Number of outliers: {}'.format(outlier_count))
        print('Percent of data that is outlier: {}%'.format(outlier_percent))

In [ ]:
for col in X_train.columns:
    outlier_count(col)

### Scaling

In [39]:
from sklearn.preprocessing import StandardScaler

# feature scaling helps improve reach convergence faster
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test  = scaler.transform(X_test)

#x = (x - mean) / std
#why do we want to scale our data before data analysis / machine learning

#allows your machine learning model to catch the pattern/relationship faster
#faster convergence

#how many ways to scale
#standardardization <====current way
# (x - mean) / std
#--> when your data follows normal distribution

#normalization <---another way
# (x - x_min) / (x_max - x_min)
#---> when your data DOES NOT follow normal distribution (e.g., audio, signal, image)

In [ ]:
# Let's check shapes of all X_train, X_test, y_train, y_test
print("Shape of X_train: ", X_train.shape)
print("Shape of X_test: ", X_test.shape)
print("Shape of y_train: ", y_train.shape)
print("Shape of y_test: ", y_test.shape)

## 6. Modeling

Let's define some algorithms and compare them using cross-validation.

[Scikit-Learn](http://scikit-learn.org) provides quick access to a huge pool of machine learning algorithms.

Before using sklearn, there is **one thing you need to know**, i.e., the **data shape that sklearn wants**.

To apply majority of the algorithms, sklearn requires two inputs, i.e., $\mathbf{X}$ and $\mathbf{y}$.

-  $\mathbf{X}$, or the **feature matrix** *typically* has the shape of ``[n_samples, n_features]``
-  $\mathbf{y}$, or the **target/label vector** *typically* has the shape of ``[n_samples, ]`` or ``[n_samples, n_targets]`` depending whether that algorithm supports multiple labels

Note 1:  if you $\mathbf{X}$ has only 1 feature, the shape must be ``[n_samples, 1]`` NOT ``[n_samples, ]``

Note 2:  sklearn supports both numpy and pandas, as long as the shape is right.  For example, if you use pandas, $\mathbf{X}$ would be a dataframe, and $\mathbf{y}$ could be a series or dataframe.

Tips:  it's always better to look at sklearn documentation before applying any algorithm.

In [ ]:
from sklearn.linear_model import LinearRegression  #we are using regression models
from sklearn.metrics import mean_squared_error, r2_score

lr = LinearRegression()
lr.fit(X_train, y_train)
yhat = lr.predict(X_test)

print("MSE: ", mean_squared_error(y_test, yhat))
print("r2: ", r2_score(y_test, yhat))

### Much better: Cross validation + Grid search

In [42]:
from sklearn.linear_model import LinearRegression  #we are using regression models
from sklearn.svm import SVR
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor

# Libraries for model evaluation

# models that we will be using, put them in a list
algorithms = [LinearRegression(), SVR(), KNeighborsRegressor(), DecisionTreeRegressor(random_state = 0), 
              RandomForestRegressor(n_estimators = 100, random_state = 0)]

# The names of the models
algorithm_names = ["Linear Regression", "SVR", "KNeighbors Regressor", "Decision-Tree Regressor", "Random-Forest Regressor"]

Let's do some simple cross-validation here....

In [ ]:
y_train.isna().sum()

In [ ]:
from sklearn.model_selection import KFold, cross_val_score

#lists for keeping mse
train_mse = []
test_mse = []

#defining splits
kfold = KFold(n_splits=5, shuffle=True)

for i, model in enumerate(algorithms):
    scores = cross_val_score(model, X_train, y_train, cv=kfold, scoring='neg_mean_squared_error')
    print(f"{algorithm_names[i]} - Score: {scores}; Mean: {scores.mean()}")

Hmm...it seems random forest do very well....how about we grid search further to find the best version of the model.

### Grid Search

In [45]:
from sklearn.model_selection import GridSearchCV

param_grid = {'bootstrap': [True], 'max_depth': [5, 10, None],
              'n_estimators': [5, 6, 7, 8, 9, 10, 11, 12, 13, 15]}

rf = RandomForestRegressor(random_state = 1)

grid = GridSearchCV(estimator = rf, 
                    param_grid = param_grid, 
                    cv = kfold, 
                    n_jobs = -1, 
                    return_train_score=True, 
                    refit=True,
                    scoring='neg_mean_squared_error')

# Fit your grid_search
grid.fit(X_train, y_train);  #fit means start looping all the possible parameters

In [ ]:
grid.best_params_

In [47]:
# Find your grid_search's best score
best_mse = grid.best_score_

In [ ]:
best_mse  # ignore the minus because it's neg_mean_squared_error

## 7. Testing

Of course, once we do everything.  We can try to shoot with the final test set.  We should no longer do anything like improving the model.  It's illegal!  since X_test is the final final test set.

In [ ]:
yhat = grid.predict(X_test)
mean_squared_error(y_test, yhat)

## 8. Analysis:  Feature Importance

Understanding why is **key** to every business, not how low MSE we got.  Extracting which feature is important for prediction can help us interpret the results.  There are several ways: algorithm, permutation, and shap.  Note that these techniques can be mostly applied to most algorithms. 

Most of the time, we just apply all, and check the consistency.

#### Algorithm way

Some ML algorithms provide feature importance score after you fit the model

In [ ]:
#stored in this variable
#note that grid here is random forest
rf = grid.best_estimator_

rf.feature_importances_

In [ ]:
#let's plot
plt.barh(X.columns, rf.feature_importances_)

In [ ]:
#hmm...let's sort first
sorted_idx = rf.feature_importances_.argsort()
plt.barh(X.columns[sorted_idx], rf.feature_importances_[sorted_idx])
plt.xlabel("Random Forest Feature Importance")

#### Permutation way

This method will randomly shuffle each feature and compute the change in the model’s performance. The features which impact the performance the most are the most important one.

*Note*: The permutation based importance is computationally expensive. The permutation based method can have problem with highly-correlated features, it can report them as unimportant.

In [ ]:
from sklearn.inspection import permutation_importance

perm_importance = permutation_importance(rf, X_test, y_test)

#let's plot
sorted_idx = perm_importance.importances_mean.argsort()
plt.barh(X.columns[sorted_idx], perm_importance.importances_mean[sorted_idx])
plt.xlabel("Random Forest Feature Importance")

#### Shap way

The SHAP interpretation can be used (it is model-agnostic) to compute the feature importances. It is using the Shapley values from game theory to estimate the how does each feature contribute to the prediction. It can be easily installed (<code>pip install shap</code>)

In [54]:
import shap

explainer = shap.TreeExplainer(rf)
shap_values = explainer.shap_values(X_test)

In [ ]:
#shap provides plot
shap.summary_plot(shap_values, X_test, plot_type="bar", feature_names = X.columns)

## 9. Inference

To provide inference service or deploy, it's best to save the model for latter use.

In [56]:
import pickle

# save the model to disk
filename = 'model/life-expectancy.model'
pickle.dump(grid, open(filename, 'wb'))

In [57]:
# load the model from disk
loaded_model = pickle.load(open(filename, 'rb'))

In [ ]:
#let's try to create one silly example
df[['income', 'adult-mort', 'life-exp']].loc[1]

In [59]:
#['income', 'school', 'adult-mort'] 
sample = np.array([[0.476, 271.000]])

In [ ]:
predicted_life_exp = loaded_model.predict(sample)
predicted_life_exp

## Group Workshop - Check your understandings

Answer the following questions:

Instruction:  Gather in your group.  Will randomly pick groups to present.

1.  Why this dataset is a regression problem?
2.  How many samples of data do we have?  How many features do we have?  How many label do we have?
3.  Notice "status" is a object dtype.  What is "object" dtype?
4.  Notice "float64".  What 64 means?

5.  Create another countplot.
6.  Create another displot.
7.  Create another boxplot.
8.  Create another scatterplot.

9.  We have used "label-encoding" which turns category into 0, 1, 2, ...   Another technique is called one-hot encoding.  What's the difference, and what's the pros and cons?
10. What is `random_state` = 42"
11. How do we know whether to replace with mean or median?
12. How many ways to scale data, and when to use them?   Try not to scale, and see whether the mse changes.  Why?
13. Why we should preprocess only AFTER we split the dataset?
14. Try to change to other `X` and try find the best three features which get the best mse.
15. How much mse or $r^2$ is considered good or bad?
16. How do I know which algorithm to use?  There are so many regression algorithms.
17. We use kfold cross-validation.  Try to find other ways of cross-validation.  Hint: search inside sklearn website.
18. In cross-validation and grid search, did we touch the testing set?
19. Why do we need to do grid search after cross validation?
20. What is feature importance?
21. After I got the model, then how can I create a website/mobile application?  Explain in details.